*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: #1C2939;
}
.color-picker {
            margin: 4px;
            padding: 6px;
            width:4px;
            height: 4px;
            border-radius: 50%;
            cursor: pointer;
        }
        .colored{
            filter: hue-rotate(90deg);
        }
@font-face{
    font-family:'wenYue GuDianMingChaoTi (Non-Commercial Use)-W5';
    src:url("ZiXinFangMingKeBen(GuJiBan)-2.ttf") format("opentype");
}    
#header{
    position: fixed;
    top:0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    background-position: center;
    background-size: cover;

}

a{
    font-size: 20px;
    font-family: 'wenYue GuDianMingChaoTi (Non-Commercial Use)-W5';
    color:white;
    text-decoration:none;
    float:right;
    padding: 15px;
}
.pop{
    font-size: 20px;
    font-family: 'wenYue GuDianMingChaoTi (Non-Commercial Use)-W5';
    color:white;
    text-decoration:none;
    float:right;
    padding: auto;
}
.nav_button {
      display: block;
      width: auto
      height: 50px;
      background-color: none;
      color: white;
      text-align: center;
      line-height: 50px;
      margin-bottom: 10px;
      transition: background-color 0.3s;
      cursor: pointer;
      font-size: 18px;
      font-family: 'wenYue GuDianMingChaoTi (Non-Commercial Use)-W5';
      border: none;
    }

    .nav_button:hover {
      background-image: url("img/bk.png") ;
      color: white;
      transform: scale(1.2);
      border: none;
    }
    .nav_button:after{
        background-color: #0F1F6C;
    }
#container{
            display: flex;
            justify-content: space-between;
            margin-top:60px;
            
    }
#search{
     margin: auto 45px;
}
#patterns {
    height: 800px; 
    overflow-y: auto; 
    display: flex;
    flex-wrap: wrap; 
    align-content: flex-start; 
}

.pattern {
    width: 48%; 
    margin: 1%; 
    height: auto; 
    cursor: pointer;
}

#canvas {
        flex: 1;
        margin:10px;
        float:left;
        min-height: 400px;
        border: none;
    }
   
    .pattern {
        width:  110px;
        height:110px;
        margin: 5px 13.5px;
        cursor: pointer;
    }
    .draggable {
        width: 100px;
        height: 100px;
        position: absolute;
        cursor: move;
    }
#buttons{
    width:auto;
    height: 50%;
    margin-top:80px;
    flex-direction:column ;
}

.button {
      display: block;
      width: auto;
      height: auto;
      margin-bottom: 10px;
      cursor: pointer;
      background-color: white;
      transition: background-color 0.3s, font-size 0.3s;
    }

    .button:hover {
      background-color: #0F1F6C;
      font-size: 16px;
    }
.modal {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color:#0F1F6C;
      padding: 20px;
      border: none;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      color: white;
    }

    .modal-close {
      cursor: pointer;
    }
    p{
        background-color: #0F1F6C;
        font-size: 20px;
        line-height: 20px;
    }
    .button_pop{
      display: block;
      width: auto;
      height: auto;
      margin-bottom: 10px;
      cursor: pointer;
      background-color:none;
      color: #0F1F6C;
      transition: background-color 0.3s, font-size 0.3s;

}
.button_pop:hover {
      background-color: #0F1F6C;
      font-size: 16px;
    }
