@font-face{
    font-family:'wenYue GuDianMingChaoTi (Non-Commercial Use)-W5';
    src:url("ZiXin.ttf");
}
ul{
    width: 470px;
    height: 50px;
    line-height: 50px;
    background-color: #284b8b;
}/* 对导航栏的整体样式进行设置 */
ul li{
    list-style: none;
    float: left;
    font-family:'wenYue GuDianMingChaoTi (Non-Commercial Use)-W5';
}/* 删除列表的样式并设置浮动 */
a{
    color: white;
    padding: 40px;
    margin: 0px;
    text-decoration: none;
}/* 设置a标签的样式 */

.nav1 {
    position: relative;/* 设置相对定位 */
    display: inline-block;/* 让元素具有块级元素和行内元素的特性,即将块级元素转化为内联元素 */
}

.nav2 {
    display: none;/* 将某元素隐藏起来 */
    position: absolute;/* 绝对定位 */
    background-color: #284b8b;
    min-width: 50px;/* 最小宽度 */
}

.nav2 a {
    color: white;
    padding: 5px 32px;
    display: block;/* 将a标签设置为块级标签 */
    text-align: center;
}

.nav2 a:hover {
    background-color: #888888
}/* 鼠标悬浮时的颜色 */

.nav1:hover .nav2 {
    display: block;
}/* 鼠标悬浮在元素上时,变为块级标签 */

.nav1:hover,li:hover{
    background-color: #888888;
}

.element {
    background-color: #1c2939;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1920px;
}

.element .div {
    background-color: #1c2939;
    overflow-x: hidden;
    width: 1367px;
    height: 1930.18px;
    position: relative;
}

.element .overlap {
    position: absolute;
    width: 211px;
    height: 43px;
    top: 136px;
    left: 597px;
    background-color: #284b8b;
}

.element .view {
    position: absolute;
    width: 76px;
    height: 31px;
    top: 12px;
    left: 30px;
    overflow-y: scroll;
}

.element .text-wrapper {
    position: absolute;
    width: 114px;
    top: -1px;
    left: 0;
    font-family: 'wenYue GuDianMingChaoTi (Non-Commercial Use)-W5';
    font-weight: 100;
    color: #ffffff;
    font-size: 17.1px;
    letter-spacing: 5.47px;
    line-height: normal;
}

.element .div-wrapper {
    position: absolute;
    width: 24px;
    height: 21px;
    top: 15px;
    left: 181px;
}

.element .text-wrapper-2 {
    position: absolute;
    width: 21px;
    top: -2px;
    left: 2px;
    transform: rotate(89.77deg);
    font-family:'wenYue GuDianMingChaoTi (Non-Commercial Use)-W5';
    font-weight: 100;
    color: #ffffff;
    font-size: 25.6px;
    letter-spacing: 3.59px;
    line-height: 30.7px;
    white-space: nowrap;
}

.element .overlap-group {
    position: absolute;
    width: 211px;
    height: 43px;
    top: 136px;
    left: 979px;
    background-color: #284b8b;
}

.element .view-2 {
    position: absolute;
    width: 24px;
    height: 21px;
    top: 15px;
    left: 179px;
}

.element .view-3 {
    position: absolute;
    width: 76px;
    height: 31px;
    top: 12px;
    left: 35px;
    overflow-y: scroll;
}

.element .overlap-2 {
    position: absolute;
    width: 1352px;
    height: 1695px;
    top: 206px;
    left: -6px;
}

.element .overlap-3 {
    position: absolute;
    width: 1352px;
    height: 1677px;
    top: 0;
    left: 0;
}

.element .vector {
    position: absolute;
    width: 1352px;
    height: 1362px;
    top: 164px;
    left: 0;
}

.element .view-4 {
    position: absolute;
    width: 1247px;
    height: 822px;
    top: 0;
    left: 65px;
}

.element .overlap-group-wrapper {
    position: absolute;
    width: 371px;
    height: 254px;
    top: 553px;
    left: 880px;
}

.element .overlap-group-2 {
    position: relative;
    width: 367px;
    height: 254px;
}

.element .div-2 {
    position: absolute;
    width: 367px;
    height: 221px;
    top: 21px;
    left: 0;
    background-color: #d9d9d9;
    border-radius: 14.24px;
}

.element .view-5 {
    position: absolute;
    width: 263px;
    height: 178px;
    top: 38px;
    left: 21px;
    background-color: #ffffffbf;
    border-radius: 21.36px;
}

.element .text-wrapper-3 {
    position: absolute;
    width: 25px;
    top: 32px;
    left: 335px;
    font-family: 'wenYue GuDianMingChaoTi (Non-Commercial Use)-W5';
    font-weight: 900;
    color: #000000;
    font-size: 17.1px;
    letter-spacing: 2.73px;
    line-height: 26.3px;
}

.element .text-wrapper-4 {
    position: absolute;
    width: 15px;
    top: 56px;
    left: 308px;
    font-family: 'wenYue GuDianMingChaoTi (Non-Commercial Use)-W5';
    font-weight: 100;
    color: #000000;
    font-size: 14.2px;
    letter-spacing: 0;
    line-height: normal;
}

.element .image {
    width: 200px;
    height: 200px;
    top: -30;
    left: 50px;
    position: absolute;
    object-fit: cover;
}

.element .overlap-wrapper {
    position: absolute;
    width: 371px;
    height: 271px;
    top: 551px;
    left: 449px;
}

.element .overlap-4 {
    position: relative;
    width: 367px;
    height: 271px;
}

.element .div-3 {
    position: absolute;
    width: 367px;
    height: 221px;
    top: 19px;
    left: 0;
    background-color: #d9d9d9;
    border-radius: 14.24px;
}

.element .view-6 {
    position: absolute;
    width: 263px;
    height: 178px;
    top: 37px;
    left: 21px;
    background-color: #ffffffbf;
    border-radius: 21.36px;
}

.element .text-wrapper-5 {
    position: absolute;
    width: 25px;
    top: 31px;
    left: 335px;
    font-family: 'wenYue GuDianMingChaoTi (Non-Commercial Use)-W5';
    font-weight: 900;
    color: #000000;
    font-size: 17.1px;
    letter-spacing: 2.73px;
    line-height: 26.3px;
}

.element .text-wrapper-6 {
    position: absolute;
    width: 15px;
    top: 54px;
    left: 308px;
    font-family: 'wenYue GuDianMingChaoTi (Non-Commercial Use)-W5';
    font-weight: 100;
    color: #000000;
    font-size: 14.2px;
    letter-spacing: 0;
    line-height: normal;
}

.element .img {
    width: 271px;
    height: 271px;
    top: 0;
    left: 14px;
    position: absolute;
    object-fit: cover;
}

.element .overlap-wrapper-2 {
    width: 376px;
    height: 216px;
    top: 570px;
    position: absolute;
    left: 0;
}

.element .overlap-5 {
    position: relative;
    width: 370px;
    height: 216px;
}

.element .div-4 {
    width: 370px;
    height: 214px;
    top: 0;
    background-color: #e4e3df;
    border-radius: 14.24px;
    position: absolute;
    left: 0;
}

.element .view-7 {
    position: absolute;
    width: 263px;
    height: 178px;
    top: 18px;
    left: 18px;
    background-color: #ffffffbf;
    border-radius: 21.36px;
}

.element .image-2 {
    width: 150px;
    height: 120px;
    top: 55px;
    left: 50px;
    position: absolute;
    object-fit: cover;
}

.element .text-wrapper-7 {
    position: absolute;
    width: 16px;
    top: 17px;
    left: 320px;
    font-family: 'wenYue GuDianMingChaoTi (Non-Commercial Use)-W5';
    font-weight: 900;
    color: #000000;
    font-size: 17.1px;
    letter-spacing: 2.73px;
    line-height: 26.3px;
}

.element .text-wrapper-8 {
    position: absolute;
    width: 22px;
    top: 17px;
    left: 343px;
    font-family: 'wenYue GuDianMingChaoTi (Non-Commercial Use)-W5';
    font-weight: 900;
    color: #000000;
    font-size: 17.1px;
    letter-spacing: 2.73px;
    line-height: 26.3px;
}

.element .text-wrapper-9 {
    position: absolute;
    width: 15px;
    top: 31px;
    left: 293px;
    font-family: 'wenYue GuDianMingChaoTi (Non-Commercial Use)-W5';
    font-weight: 100;
    color: #000000;
    font-size: 14.2px;
    letter-spacing: 0;
    line-height: normal;
}

.element .overlap-wrapper-3 {
    position: absolute;
    width: 371px;
    height: 274px;
    top: 266px;
    left: 880px;
}

.element .overlap-6 {
    position: relative;
    width: 367px;
    height: 274px;
}

.element .image-3 {
    width: 274px;
    height: 274px;
    top: 0;
    left: 21px;
    position: absolute;
    object-fit: cover;
}

.element .overlap-wrapper-4 {
    position: absolute;
    width: 371px;
    height: 289px;
    top: 248px;
    left: 441px;
}

.element .overlap-7 {
    position: relative;
    width: 367px;
    height: 289px;
}

.element .div-5 {
    position: absolute;
    width: 367px;
    height: 221px;
    top: 38px;
    left: 0;
    background-color: #d9d9d9;
    border-radius: 14.24px;
}

.element .view-8 {
    position: absolute;
    width: 263px;
    height: 178px;
    top: 56px;
    left: 21px;
    background-color: #ffffffbf;
    border-radius: 21.36px;
}

.element .text-wrapper-10 {
    position: absolute;
    width: 25px;
    top: 49px;
    left: 335px;
    font-family: 'wenYue GuDianMingChaoTi (Non-Commercial Use)-W5';
    font-weight: 900;
    color: #000000;
    font-size: 17.1px;
    letter-spacing: 2.73px;
    line-height: 26.3px;
}

.element .text-wrapper-11 {
    position: absolute;
    width: 15px;
    top: 73px;
    left: 308px;
    font-family: 'wenYue GuDianMingChaoTi (Non-Commercial Use)-W5';
    font-weight: 100;
    color: #000000;
    font-size: 14.2px;
    letter-spacing: 0;
    line-height: normal;
}

.element .img-2 {
    position: absolute;
    width: 289px;
    height: 289px;
    top: 0;
    left: 8px;
    object-fit: cover;
}

.element .overlap-wrapper-5 {
    width: 374px;
    height: 221px;
    top: 286px;
    position: absolute;
    left: 0;
}

.element .overlap-8 {
    position: relative;
    width: 370px;
    height: 221px;
}

.element .image-4 {
    width: 186px;
    height: 186px;
    top: 18px;
    left: 52px;
    position: absolute;
    object-fit: cover;
}

.element .text-wrapper-12 {
    position: absolute;
    width: 25px;
    top: 11px;
    left: 332px;
    font-family: 'wenYue GuDianMingChaoTi (Non-Commercial Use)-W5';
    font-weight: 900;
    color: #000000;
    font-size: 17.1px;
    letter-spacing: 2.73px;
    line-height: 26.3px;
}

.element .text-wrapper-13 {
    position: absolute;
    width: 15px;
    top: 35px;
    left: 305px;
    font-family: 'wenYue GuDianMingChaoTi (Non-Commercial Use)-W5';
    font-weight: 100;
    color: #000000;
    font-size: 14.2px;
    letter-spacing: 0;
    line-height: normal;
}

.element .overlap-wrapper-6 {
    position: absolute;
    width: 371px;
    height: 221px;
    top: 4px;
    left: 880px;
}

.element .overlap-9 {
    position: relative;
    width: 367px;
    height: 221px;
    background-color: #d9d9d9;
    border-radius: 14.24px;
}

.element .overlap-group-3 {
    position: absolute;
    width: 263px;
    height: 190px;
    top: 11px;
    left: 21px;
}

.element .view-9 {
    position: absolute;
    width: 263px;
    height: 178px;
    top: 6px;
    left: 0;
    background-color: #ffffffbf;
    border-radius: 21.36px;
}

.element .image-5 {
    width: 213px;
    height: 190px;
    top: 0;
    left: 25px;
    position: absolute;
    object-fit: cover;
}

.element .text-wrapper-14 {
    position: absolute;
    width: 25px;
    top: 11px;
    left: 335px;
    font-family: 'wenYue GuDianMingChaoTi (Non-Commercial Use)-W5';
    font-weight: 900;
    color: #000000;
    font-size: 17.1px;
    letter-spacing: 2.73px;
    line-height: 26.3px;
}

.element .text-wrapper-15 {
    position: absolute;
    width: 15px;
    top: 35px;
    left: 308px;
    font-family: 'wenYue GuDianMingChaoTi (Non-Commercial Use)-W5';
    font-weight: 100;
    color: #000000;
    font-size: 14.2px;
    letter-spacing: 0;
    line-height: normal;
}

.element .overlap-wrapper-7 {
    position: absolute;
    width: 371px;
    height: 221px;
    top: 4px;
    left: 441px;
}

.element .image-wrapper {
    position: absolute;
    width: 263px;
    height: 178px;
    top: 18px;
    left: 21px;
    background-color: #ffffffbf;
    border-radius: 21.36px;
}

.element .image-6 {
    width: 205px;
    height: 173px;
    top: 5px;
    left: 21px;
    position: absolute;
    object-fit: cover;
}

.element .overlap-wrapper-8 {
    width: 374px;
    height: 224px;
    top: 0;
    position: absolute;
    left: 0;
}

.element .overlap-10 {
    position: relative;
    width: 370px;
    height: 224px;
}

.element .div-6 {
    width: 370px;
    height: 214px;
    top: 4px;
    background-color: #e4e3df;
    border-radius: 14.24px;
    position: absolute;
    left: 0;
}

.element .view-10 {
    position: absolute;
    width: 263px;
    height: 178px;
    top: 21px;
    left: 18px;
    background-color: #ffffffbf;
    border-radius: 21.36px;
}

.element .image-7 {
    width: 283px;
    height: 218px;
    top: 0;
    left: 9px;
    position: absolute;
    object-fit: cover;
}

.element .text-wrapper-16 {
    position: absolute;
    width: 25px;
    top: 15px;
    left: 332px;
    font-family: 'wenYue GuDianMingChaoTi (Non-Commercial Use)-W5';
    font-weight: 900;
    color: #000000;
    font-size: 17.1px;
    letter-spacing: 2.73px;
    line-height: 26.3px;
}

.element .text-wrapper-17 {
    position: absolute;
    width: 15px;
    top: 38px;
    left: 305px;
    font-family: 'wenYue GuDianMingChaoTi (Non-Commercial Use)-W5';
    font-weight: 100;
    color: #000000;
    font-size: 14.2px;
    letter-spacing: 0;
    line-height: normal;
}

.element .view-11 {
    position: absolute;
    width: 1247px;
    height: 822px;
    top: 854px;
    left: 65px;
}

.element .group {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 1659px;
    left: 1317px;
    background-color: #d9d9d9;
    border-radius: 17.8px;
}

.element .arrow {
    position: absolute;
    width: 1px;
    height: 19px;
    top: 9px;
    left: 19px;
}

.element .view-12 {
    position: absolute;
    width: 115px;
    height: 419px;
    top: 2974px;
    left: -12723px;
}

.element .text-wrapper-18 {
    position: absolute;
    width: 113px;
    top: 0;
    left: 0;
    font-family: "WenYue GuDianMingChaoTi (Non-Commercial Use)-W5", Helvetica;
    font-weight: 400;
    color: #0f1f6c;
    font-size: 71.2px;
    letter-spacing: 0;
    line-height: normal;
}


.element .daohanglan {
    position: fixed;
    width: 100%;
    height: 72px;
    top: 0;
    left: 0;
    z-index: 999;

    background-color: #ffffff4c;
}

.element  .swjc {
    position: absolute;
    width: 266px;
    height: 58px;
    top: 5px;
    left: 23px;
}

.element .swjcz {
    width: 214px;
    top: 11px;
    left: 54px;
    color: #ffffff;
    font-size: 35px;
    position: absolute;
    font-family: "WenYue GuDianMingChaoTi (Non-Commercial Use)-W5", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
}

.element .logo1 {
    position: absolute;
    width: 44px;
    height: 58px;
    top: 0;
    left: 0;
}

.element .logo2 {
    width: 46px;
    height: 58px;
}

.element .logo3 {
    position: relative;
    width: 47px;
    height: 60px;
    top: -1px;
    left: -1px;
}

.element .logo4 {
    position: absolute;
    width: 50px;
    height: 60px;
    top: 0;
    left: 0;
}

.element .dhl {
    position: absolute;
    width: 788px;
    height: 72px;
    top: 0;
    left: 957px;
}

.element .dhl1 {
    position: absolute;
    width: 595px;
    height: 72px;
    top: 0;
    left: 0;
}

.element  .bwsy {
    position: absolute;
    width: 385px;
    height: 72px;
    top: 0;
    left: 0;
}

.element .bw1 {
    position: absolute;
    width: 210px;
    height: 72px;
    top: 0;
    left: 175px;
}

.element  .bw2 {
    position: relative;
    height: 72px;

}
.element .bw2:hover {
    
 background-image:url(img/daohangzs.png) ;

 background-repeat:no-repeat;
 background-position: center;
}   

.element .bw2:active {
     background-color: #284B8B;
}
.element .dh {
    top: 17px;
    left: 45px;
    color: #ffffff;
    font-size: 30px;
    position: absolute;
    font-family: "WenYue GuDianMingChaoTi (Non-Commercial Use)-W5", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
}

.element .sy1 {
    position: absolute;
    width: 210px;
    height: 72px;
    top: -20px;
    left: 0;
}

.element .dh2 {
    top: 17px;
    left: 75px;
    color: #ffffff;
    font-size: 30px;
    position: absolute;
    font-family: "WenYue GuDianMingChaoTi (Non-Commercial Use)-W5", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
}

.element .zsfw1 {
    position: absolute;
    width: 210px;
    height: 72px;
    top: -20px;
    left: 385px;
}

.element .wctd1 {
    position: absolute;
    width: 210px;
    height: 72px;
    top: -20px;
    left: 578px;
}

.element .touxiang1 {
    position: absolute;
    width: 80px;
    height: 65px;
    top: 4px;
    left: 1818px;
}

.element  .tx2 {
    position: relative;
    width: 65px;
    height: 65px;
   background-image: url(img/ljmtouxiang.png);
    background-size: 100% 100%;
    border-radius: 32.5px;
}
.element .tx2:hover{
    background-color: #284B8B;
}

.element .touxiang{
    position: absolute;
width: 65px;
height: 65px;
top: 4px;
left: 1818px;
}

.element .sousuo {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 22px;
    left: 1757px;
}


.element .view-16 {
    position: absolute;
    width: 669px;
    height: 53px;
    top: 70px;
    left: 412px;
}

.element .overlap-13 {
    position: absolute;
    width: 624px;
    height: 53px;
    top: 0;
    left: 0;
    background-image: url(img/sousuokuang.png);
    background-size: 100% 100%;
}

.element .icon {
    position: absolute;
    width: 26px;
    height: 28px;
    top: 12px;
    left: 18px;
}

.element .overlap-group-5 {
    position: absolute;
    width: 122px;
    height: 53px;
    top: 0;
    left: 502px;
    background-color: #284b8b;
    border-radius: 0px 56.05px 56.05px 0px;
}

.element .text-wrapper-22 {
    position: absolute;
    width: 63px;
    top: 7px;
    left: 22px;
    font-family: "WenYue GuDianMingChaoTi (Non-Commercial Use)-W5", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
}

.element .text-wrapper-23 {
    position: absolute;
    top: 11px;
    left: 66px;
    font-family: "WenYue GuDianMingChaoTi (Non-Commercial Use)-W5", Helvetica;
    font-weight: 400;
    color: #828282;
    font-size: 22.4px;
    letter-spacing: 0;
    line-height: normal;
}

.element .icon-instagram-fill {
    position: absolute;
    width: 34px;
    height: 33px;
    top: 10px;
    left: 458px;
}

.element .group-4 {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 12px;
    left: 640px;
}

.element .overlap-14 {
    position: absolute;
    width: 100px;
    height: 43px;
    top: 120px;
    left: 430px;
}

.element .view-17 {
    position: absolute;
    width: 24px;
    height: 21px;
    top: 12px;
    left: 172px;
}

.element .view-18 {
    position: absolute;
    width: 76px;
    height: 31px;
    top: 12px;
    left: 30px;
}

.element .text-wrapper-24 {
    position: absolute;
    width: 76px;
    top: -1px;
    left: 0;
    font-family: "WenYue GuDianMingChaoTi (Non-Commercial Use)-W5", Helvetica;
    font-weight: 100;
    color: #ffffff;
    font-size: 17.1px;
    letter-spacing: 5.47px;
    line-height: normal;
}
.label {
    width: 528px;
    height: 65px;
}

.label .div {
    position: fixed;
    width: 528px;
    top: 0;
    left: 0;
    font-family: "WenYue GuDianMingChaoTi (Non-Commercial Use)-W5", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.label .text-wrapper {
    font-family: "WenYue GuDianMingChaoTi (Non-Commercial Use)-W5", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
}

.label .span {
    font-family:  "WenYue GuDianMingChaoTi (Non-Commercial Use)-W5", Helvetica;
    font-weight: 700;
    text-decoration: underline;
}
