@font-face{
    font-family:'WenYue GuDianMingChaoTi (Non-Commercial Use)-W5';
    src:url("../font/ZiXinFangMingKeBen(GuJiBan)-2.ttf") format("opentype");
}

.screen {
    background-color: #1c2939;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1920px;
}

.screen .overlap-wrapper {
    background-color: #1c2939;
    width: 1920px;
    height: 1080px;
}

.screen .overlap {
    position: relative;
    height: 1080px;
    background-image: url(img/bkg.png);
    background-size: 100% 100%;
}

.screen .ellipse {
    position: absolute;
    width: 189px;
    height: 189px;
    top: 96px;
    left: 58px;
}

.screen .text-wrapper {
    position: absolute;
    width: 275px;
    top: 119px;
    left: 274px;
    font-family: "WenYue GuDianMingChaoTi (Non-Commercial Use)-W5", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
}

.screen .overlap-group {
    position: absolute;
    width: 474px;
    height: 96px;
    top: 188px;
    left: 277px;
}

.screen .div {
    width: 474px;
    top: 0;
    left: 0;
    font-family: kaiti, Helvetica;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    position: absolute;
    font-weight: 400;
    line-height: normal;
}

.screen .span {
    font-family: kaiti, Helvetica;
    font-style: italic;
}

.screen .text-wrapper-2 {
    font-family: "WenYue GuDianMingChaoTi (Non-Commercial Use)-Regular", Helvetica;
}

.screen .text-wrapper-3 {
    font-family: "WenYue GuDianMingChaoTi (Non-Commercial Use)-Regular", Helvetica;
    font-size: 20px;
}

.screen .button {
    position: absolute;
    width: 25px;
    height: 28px;
    top: 24px;
    left: 380px;
}

.screen .overlap-2 {
    position: absolute;
    width: 600px;
    height: 706px;
    top: 322px;
    left: 47px;
    background-color: #d9d9d9;
}

.screen .image {
    top: 68px;
    left: 316px;
    position: absolute;
    width: 237px;
    height: 103px;
}

.screen .overlap-3 {
    position: absolute;
    width: 310px;
    height: 161px;
    top: 10px;
    left: 6px;
}

.screen .img {
    top: 58px;
    left: 36px;
    position: absolute;
    width: 237px;
    height: 103px;
}
.screen .img:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.screen .image:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.screen .image-2:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.screen .text-wrapper-4 {
    width: 310px;
    top: 0;
    left: 0;
    font-family: "WenYue GuDianMingChaoTi (Non-Commercial Use)-W5", Helvetica;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    position: absolute;
    font-weight: 400;
    line-height: normal;
}

.screen .image-2 {
    top: 268px;
    left: 42px;
    position: absolute;
    width: 237px;
    height: 103px;
}

.screen .text-wrapper-5 {
    width: 146px;
    top: 182px;
    left: 81px;
    font-family: "WenYue GuDianMingChaoTi (Non-Commercial Use)-W5", Helvetica;
    color: #004772;
    font-size: 24px;
    letter-spacing: 0;
    position: absolute;
    font-weight: 400;
    line-height: normal;
}

.screen .text-wrapper-6 {
    width: 146px;
    top: 382px;
    left: 88px;
    font-family: "WenYue GuDianMingChaoTi (Non-Commercial Use)-W5", Helvetica;
    color: #004772;
    font-size: 24px;
    letter-spacing: 0;
    position: absolute;
    font-weight: 400;
    line-height: normal;
}

.screen .text-wrapper-7 {
    width: 146px;
    top: 182px;
    left: 362px;
    font-family: "WenYue GuDianMingChaoTi (Non-Commercial Use)-W5", Helvetica;
    color: #004772;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    position: absolute;
    font-weight: 400;
    line-height: normal;
}

.screen .overlap-4 {
    position: absolute;
    width: 600px;
    height: 706px;
    top: 322px;
    left: 660px;
    background-color: #d9d9d9;
}

.screen .overlap-5 {
    position: absolute;
    width: 572px;
    height: 299px;
    top: 367px;
    left: 16px;
}

.screen .element {
    position: absolute;
    width: 572px;
    height: 299px;
    top: 0;
    left: 0;
}

.screen .overlap-group-2 {
    position: relative;
    width: 578px;
    height: 307px;
    left: -4px;
    background-image: url(img/bjk2.png);
    background-size: 100% 100%;
}

.screen .footer {
    position: absolute;
    width: 160px;
    height: 33px;
    top: 18px;
    left: 17px;
}

.screen .ellipse-2 {
    position: absolute;
    width: 32px;
    height: 33px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.screen .text-wrapper-8 {
    position: absolute;
    width: 109px;
    top: 7px;
    left: 49px;
    font-family: "WenYue GuDianMingChaoTi (Non-Commercial Use)-W5", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.screen .element-3 {
    position: absolute;
    width: 102px;
    height: 108px;
    top: 151px;
    left: 32px;
    object-fit: cover;
}

.screen .p {
    position: absolute;
    width: 521px;
    top: 40px;
    left: 26px;
    font-family: kaiti, Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 1.6px;
    line-height: normal;
}

.screen .text-wrapper-9 {
    font-weight: 100;
}

.screen .text-wrapper-10 {
    font-family: kaiti, Helvetica;
}

.screen .element-4 {
    position: absolute;
    width: 150px;
    height: 23px;
    top: 267px;
    left: 400px;
}

.screen .text-wrapper-11 {
    top: 0;
    left: 13px;
    position: absolute;
    width: 19px;
    font-family: "WenYue GuDianMingChaoTi (Non-Commercial Use)-W5", Helvetica;
    font-weight: 400;
    color: #284b8b;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.screen .text-wrapper-12 {
    top: 0;
    left: 67px;
    position: absolute;
    width: 19px;
    font-family: "WenYue GuDianMingChaoTi (Non-Commercial Use)-W5", Helvetica;
    font-weight: 400;
    color: #284b8b;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.screen .text-wrapper-13 {
    top: 1px;
    left: 125px;
    position: absolute;
    width: 19px;
    font-family: "WenYue GuDianMingChaoTi (Non-Commercial Use)-W5", Helvetica;
    font-weight: 400;
    color: #284b8b;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.screen .icon-comment {
    position: absolute;
    width: 14px;
    height: 15px;
    top: 6px;
    left: 48px;
}

.screen .icon-thumbs-up {
    position: absolute;
    width: 14px;
    height: 15px;
    top: 5px;
    left: 106px;
}

.screen .icon-arrow-forward {
    position: absolute;
    width: 13px;
    height: 14px;
    top: 6px;
    left: 0;
}

.screen .overlap-6 {
    position: absolute;
    width: 573px;
    height: 263px;
    top: 68px;
    left: 14px;
}

.screen .overlap-group-wrapper {
    position: absolute;
    width: 573px;
    height: 263px;
    top: 0;
    left: 0;
}

.screen .overlap-7 {
    position: relative;
    width: 579px;
    height: 271px;
    left: -4px;
    background-image: url(img/bjk1.png);
    background-size: 100% 100%;
}

.screen .element-5 {
    position: absolute;
    width: 522px;
    top: 54px;
    left: 28px;
    font-family: kaiti, Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 1.6px;
    line-height: normal;
}

.screen .element-6 {
    position: absolute;
    width: 183px;
    height: 33px;
    top: 13px;
    left: 15px;
}

.screen .ellipse-3 {
    position: absolute;
    width: 35px;
    height: 33px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.screen .text-wrapper-14 {
    width: 138px;
    top: 4px;
    left: 43px;
    font-family: "WenYue GuDianMingChaoTi (Non-Commercial Use)-W5", Helvetica;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    white-space: nowrap;
    position: absolute;
    font-weight: 400;
    line-height: normal;
}

.screen .element-7 {
    position: absolute;
    width: 150px;
    height: 23px;
    top: 231px;
    left: 402px;
}

.screen .text-wrapper-15 {
    width: 226px;
    top: 9px;
    left: 9px;
    font-family: "WenYue GuDianMingChaoTi (Non-Commercial Use)-W5", Helvetica;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    position: absolute;
    font-weight: 400;
    line-height: normal;
}

.screen .overlap-8 {
    position: absolute;
    width: 600px;
    height: 706px;
    top: 322px;
    left: 1273px;
    background-color: #d9d9d9;
}

.screen .overlap-9 {
    position: absolute;
    width: 561px;
    height: 111px;
    top: 72px;
    left: 19px;
    background-image: url(img/bkg3.png);
    background-size: 100% 100%;
}

.screen .text-wrapper-16 {
    width: 517px;
    top: 12px;
    left: 21px;
    font-family: kaiti, Helvetica;
    color: #000000;
    font-size: 20px;
    letter-spacing: 1.6px;
    position: absolute;
    font-weight: 400;
    line-height: normal;
}

.screen .element-8 {
    position: absolute;
    width: 150px;
    height: 23px;
    top: 74px;
    left: 403px;
}

.screen .text-wrapper-17 {
    width: 186px;
    top: 15px;
    left: 23px;
    font-family: "WenYue GuDianMingChaoTi (Non-Commercial Use)-W5", Helvetica;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    position: absolute;
    font-weight: 400;
    line-height: normal;
}

.screen .view {
    position: absolute;
    width: 1920px;
    height: 72px;
    top: 0;
    left: 0;
    background-color: #60697499;
}

.screen .ellipse-4 {
    position: absolute;
    width: 65px;
    height: 65px;
    top: 4px;
    left: 1818px;
}

.screen .vector {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 22px;
    left: 1757px;
}

.screen .overlap-10 {
    position: absolute;
    width: 385px;
    height: 72px;
    top: 0;
    left: 957px;
}

.screen .div-wrapper {
    left: 175px;
    position: absolute;
    width: 210px;
    height: 72px;
    top: 0;
}

.screen .text-wrapper-18 {
    top: 17px;
    left: 45px;
    font-family: "WenYue GuDianMingChaoTi (Non-Commercial Use)-W5", Helvetica;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 0;
    position: absolute;
    font-weight: 400;
    line-height: normal;
}


.screen .div-wrapper-2 {
    position: absolute;
    width: 210px;
    height: 72px;
    top: 0;
    left: 0;
}

    

.screen .text-wrapper-19 {
    top: 17px;
    left: 75px;
    font-family: "WenYue GuDianMingChaoTi (Non-Commercial Use)-W5", Helvetica;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 0;
    position: absolute;
    font-weight: 400;
    line-height: normal;
}

.screen .overlap-11 {
    position: absolute;
    width: 403px;
    height: 72px;
    top: 0;
    left: 1342px;
}

.screen .div-wrapper-3 {
    left: 193px;
    position: relative;
    width: 210px;
    height: 72px;
    top: 0;
}


.screen .text-wrapper-20 {
    width: 214px;
    top: 15px;
    left: 76px;
    font-family: "WenYue GuDianMingChaoTi (Non-Commercial Use)-W5", Helvetica;
    color: #ffffff;
    font-size: 35px;
    letter-spacing: 0;
    position: absolute;
    font-weight: 400;
    line-height: normal;
}

.screen .logo {
    position: absolute;
    width: 58px;
    height: 63px;
    top: 5px;
    left: 9px;
    object-fit: cover;
}


.screen .logo1 {
    position: absolute;
    width: 44px;
    height: 58px;
    top: 0;
    left: 0;
}

.screen .logo2 {
    width: 46px;
    height: 58px;
}

.screen .logo3 {
    position: relative;
    width: 47px;
    height: 60px;
    top: -1px;
    left: -1px;
}

.screen .logo4 {
    position: absolute;
    width: 50px;
    height: 60px;
    top: 0;
    left: 0;
}

.screen .hovorr {
    position: relative;
    height: 72px;
    width: 210px;

}
.screen .hovorr:hovor{
    background-color: #284B8B;

}
.screen .text-wrapper-18:hovor{
    background-color: #284B8B;
}
.screen .nav {
    position: absolute;
    width: 788px;
    height: 72px;
    top: 0;
    left: 957px;
}

.screen .nav1 {
    position: absolute;
    width: 595px;
    height: 72px;
    top: 0;
    left: 0;
}

.screen .bwsy {
    position: absolute;
    width: 385px;
    height: 72px;
    top: 0;
    left: 0;
}

.screen .bw1 {
    position: absolute;
    width: 210px;
    height: 72px;
    top: 0;
    left: 175px;
}

.screen .bw2 {
    position: relative;
    height: 72px;

}

.screen .bw2:hover {
    
 background-image:url(../index.img/daohangzs.png) ;

 background-repeat:no-repeat;
 background-position: center;
}   

.screen .bw2:active {
     background-color: #284B8B;
}

.screen .dh {
    top: 17px;
    left: 45px;
    color: #ffffff;
    font-size: 30px;
    position: absolute;
    font-family: "WenYue GuDianMingChaoTi (Non-Commercial Use)-W5", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
}

.screen .sy1 {
    position: absolute;
    width: 210px;
    height: 72px;
    top: 0;
    left: 0;
}

.screen .dh2 {
    top: 17px;
    left: 75px;
    color: #ffffff;
    font-size: 30px;
    position: absolute;
    font-family: "WenYue GuDianMingChaoTi (Non-Commercial Use)-W5", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
}

.screen .zsfw1 {
    position: absolute;
    width: 210px;
    height: 72px;
    top: 0;
    left: 385px;
}

.screen .wctd1 {
    position: absolute;
    width: 210px;
    height: 72px;
    top: 0;
    left: 578px;
}

.screen .touxiang1 {
    position: absolute;
    width: 80px;
    height: 65px;
    top: 4px;
    left: 1818px;
}

.screen .tx2 {
    position: relative;
    width: 65px;
    height: 65px;
    background-image: url(img/ljmtouxiang.png);
    background-size: 100% 100%;
  
    border-radius: 32.5px;
}
.screen .tx2:hover{
    background-color: #284B8B;
}


.screen .touxiang{
    position: absolute;
width: 65px;
height: 65px;
top: 4px;
left: 1818px;
}
.screen .sousuo {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 22px;
    left: 1757px;
}
.screen .daohanglan {
    position: fixed;
    width: 100%;
    height: 72px;
    top: 0;
    left: 0;
    z-index: 999;

    background-color: #ffffff4c;
}

.screen .swjc {
    position: absolute;
    width: 266px;
    height: 58px;
    top: 5px;
    left: 23px;
}

.screen .swjcz {
    width: 214px;
    top: 11px;
    left: 54px;
    color: #ffffff;
    font-size: 35px;
    position: absolute;
    font-family: "WenYue GuDianMingChaoTi (Non-Commercial Use)-W5", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
}